<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kaisheng.mapper.KsDownboundMapper">

	<resultMap type="KsDownbound" id="KsDownboundResult">
		<result property="id" column="id" />
		<result property="downboundId" column="downbound_id" />
		<result property="downboundCouponNumber"
			column="downbound_coupon_number" />
		<result property="downboundSoftOrderNumber"
			column="downbound_soft_order_number" />
		<result property="downboundDate" column="downbound_date" />
		<result property="downboundDriver" column="downbound_driver" />
		<result property="downboundLicensePlateNumber"
			column="downbound_license_plate_number" />
		<result property="downboundCompany" column="downbound_company" />
		<result property="downboundOutset" column="downbound_outset" />
		<result property="downboundYard" column="downbound_yard" />
		<result property="downboundCash" column="downbound_cash" />
		<result property="downboundBill" column="downbound_bill" />
		<result property="downboundGoods" column="downbound_goods" />
		<result property="downboundGoodsMt" column="downbound_goods_mt" />
		<result property="downboundGoodsCustomerMt"
			column="downbound_goods_customer_mt" />
		<result property="downboundGoodsPriceDriver"
			column="downbound_goods_price_driver" />
		<result property="downboundBillTotal"
			column="downbound_bill_total" />
		<result property="downboundGoodsPrice"
			column="downbound_goods_price" />
		<result property="downboundTotal" column="downbound_total" />
	</resultMap>

	<sql id="selectKsDownboundVo">
		select id,
		downbound_id,
		downbound_coupon_number,
		downbound_soft_order_number,
		downbound_date,
		downbound_driver,
		downbound_license_plate_number,
		downbound_company,
		downbound_outset,
		downbound_yard,
		downbound_cash,
		downbound_bill,
		downbound_goods,
		downbound_goods_mt,
		downbound_goods_customer_mt,
		downbound_goods_price_driver,
		downbound_bill_total,
		downbound_goods_price,
		downbound_total from
		ks_downbound
	</sql>

	<select id="selectKsDownboundList" parameterType="KsDownbound"
		resultMap="KsDownboundResult">
		<include refid="selectKsDownboundVo" />
		<where>
			<if test="downboundId != null  and downboundId != ''"> and downbound_id = #{downboundId}</if>
			<if
				test="downboundCouponNumber != null  and downboundCouponNumber != ''"> and downbound_coupon_number = #{downboundCouponNumber}</if>
			<if
				test="downboundSoftOrderNumber != null  and downboundSoftOrderNumber != ''"> and downbound_soft_order_number = #{downboundSoftOrderNumber}
			</if>
			<if test="downboundDate != null "> and downbound_date = #{downboundDate}</if>
			<if test="downboundDriver != null  and downboundDriver != ''"> and downbound_driver = #{downboundDriver}</if>
			<if
				test="downboundLicensePlateNumber != null  and downboundLicensePlateNumber != ''"> and downbound_license_plate_number =
				#{downboundLicensePlateNumber}
			</if>
			<if test="downboundCompany != null  and downboundCompany != ''"> and downbound_company = #{downboundCompany}</if>
			<if test="downboundOutset != null  and downboundOutset != ''"> and downbound_outset = #{downboundOutset}</if>
			<if test="downboundYard != null  and downboundYard != ''"> and downbound_yard = #{downboundYard}</if>
			<if test="downboundCash != null  and downboundCash != ''"> and downbound_cash = #{downboundCash}</if>
			<if test="downboundBill != null  and downboundBill != ''"> and downbound_bill = #{downboundBill}</if>
			<if test="downboundGoods != null  and downboundGoods != ''"> and downbound_goods = #{downboundGoods}</if>
			<if test="downboundGoodsMt != null "> and downbound_goods_mt = #{downboundGoodsMt}</if>
			<if test="downboundGoodsCustomerMt != null "> and downbound_goods_customer_mt =
				#{downboundGoodsCustomerMt}
			</if>
			<if test="downboundGoodsPriceDriver != null "> and downbound_goods_price_driver =
				#{downboundGoodsPriceDriver}
			</if>
			<if test="downboundBillTotal != null "> and downbound_bill_total = #{downboundBillTotal}</if>
			<if test="downboundGoodsPrice != null "> and downbound_goods_price = #{downboundGoodsPrice}</if>
			<if test="downboundTotal != null "> and downbound_total = #{downboundTotal}</if>
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				and date_format(downbound_date,'%y%m%d') &gt;=
				date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				and date_format(downbound_date,'%y%m%d') &lt;=
				date_format(#{params.endTime},'%y%m%d')
			</if>
		</where>
		order by id desc
	</select>

	<select id="selectKsDownboundById" parameterType="Integer"
		resultMap="KsDownboundResult">
		<include refid="selectKsDownboundVo" />
		where id = #{id}
	</select>

	<insert id="insertKsDownbound" parameterType="KsDownbound"
		useGeneratedKeys="true" keyProperty="id">
		insert into ks_downbound
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="downboundId != null and downboundId != ''">downbound_id,</if>
			<if test="downboundCouponNumber != null">downbound_coupon_number,</if>
			<if test="downboundSoftOrderNumber != null">downbound_soft_order_number,</if>
			<if test="downboundDate != null">downbound_date,</if>
			<if test="downboundDriver != null and downboundDriver != ''">downbound_driver,</if>
			<if
				test="downboundLicensePlateNumber != null and downboundLicensePlateNumber != ''">downbound_license_plate_number,</if>
			<if test="downboundCompany != null and downboundCompany != ''">downbound_company,</if>
			<if test="downboundOutset != null and downboundOutset != ''">downbound_outset,</if>
			<if test="downboundYard != null and downboundYard != ''">downbound_yard,</if>
			<if test="downboundCash != null and downboundCash != ''">downbound_cash,</if>
			<if test="downboundBill != null and downboundBill != ''">downbound_bill,</if>
			<if test="downboundGoods != null">downbound_goods,</if>
			<if test="downboundGoodsMt != null">downbound_goods_mt,</if>
			<if test="downboundGoodsCustomerMt != null">downbound_goods_customer_mt,</if>
			<if test="downboundGoodsPriceDriver != null">downbound_goods_price_driver,</if>
			<if test="downboundBillTotal != null">downbound_bill_total,</if>
			<if test="downboundGoodsPrice != null">downbound_goods_price,</if>
			<if test="downboundTotal != null">downbound_total,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="downboundId != null and downboundId != ''">#{downboundId},</if>
			<if test="downboundCouponNumber != null">#{downboundCouponNumber},</if>
			<if test="downboundSoftOrderNumber != null">#{downboundSoftOrderNumber},</if>
			<if test="downboundDate != null">#{downboundDate},</if>
			<if test="downboundDriver != null and downboundDriver != ''">#{downboundDriver},</if>
			<if
				test="downboundLicensePlateNumber != null and downboundLicensePlateNumber != ''">#{downboundLicensePlateNumber},</if>
			<if test="downboundCompany != null and downboundCompany != ''">#{downboundCompany},</if>
			<if test="downboundOutset != null and downboundOutset != ''">#{downboundOutset},</if>
			<if test="downboundYard != null and downboundYard != ''">#{downboundYard},</if>
			<if test="downboundCash != null and downboundCash != ''">#{downboundCash},</if>
			<if test="downboundBill != null and downboundBill != ''">#{downboundBill},</if>
			<if test="downboundGoods != null">#{downboundGoods},</if>
			<if test="downboundGoodsMt != null">#{downboundGoodsMt},</if>
			<if test="downboundGoodsCustomerMt != null">#{downboundGoodsCustomerMt},</if>
			<if test="downboundGoodsPriceDriver != null">#{downboundGoodsPriceDriver},</if>
			<if test="downboundBillTotal != null">#{downboundBillTotal},</if>
			<if test="downboundGoodsPrice != null">#{downboundGoodsPrice},</if>
			<if test="downboundTotal != null">#{downboundTotal},</if>
		</trim>
	</insert>

	<update id="updateKsDownbound" parameterType="KsDownbound">
		update ks_downbound
		<trim prefix="SET" suffixOverrides=",">
			<if test="downboundId != null and downboundId != ''">downbound_id = #{downboundId},</if>
			<if test="downboundCouponNumber != null">downbound_coupon_number = #{downboundCouponNumber},</if>
			<if test="downboundSoftOrderNumber != null">downbound_soft_order_number =
				#{downboundSoftOrderNumber},
			</if>
			<if test="downboundDate != null">downbound_date = #{downboundDate},</if>
			<if test="downboundDriver != null and downboundDriver != ''">downbound_driver = #{downboundDriver},</if>
			<if
				test="downboundLicensePlateNumber != null and downboundLicensePlateNumber != ''">downbound_license_plate_number =
				#{downboundLicensePlateNumber},
			</if>
			<if test="downboundCompany != null and downboundCompany != ''">downbound_company = #{downboundCompany},</if>
			<if test="downboundOutset != null and downboundOutset != ''">downbound_outset = #{downboundOutset},</if>
			<if test="downboundYard != null and downboundYard != ''">downbound_yard = #{downboundYard},</if>
			<if test="downboundCash != null and downboundCash != ''">downbound_cash = #{downboundCash},</if>
			<if test="downboundBill != null and downboundBill != ''">downbound_bill = #{downboundBill},</if>
			<if test="downboundGoods != null">downbound_goods = #{downboundGoods},</if>
			<if test="downboundGoodsMt != null">downbound_goods_mt = #{downboundGoodsMt},</if>
			<if test="downboundGoodsCustomerMt != null">downbound_goods_customer_mt =
				#{downboundGoodsCustomerMt},
			</if>
			<if test="downboundGoodsPriceDriver != null">downbound_goods_price_driver =
				#{downboundGoodsPriceDriver},</if>
			<if test="downboundBillTotal != null">downbound_bill_total = #{downboundBillTotal},</if>
			<if test="downboundGoodsPrice != null">downbound_goods_price = #{downboundGoodsPrice},</if>
			<if test="downboundTotal != null">downbound_total = #{downboundTotal},</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteKsDownboundById" parameterType="Integer">
		delete from
		ks_downbound where id = #{id}
	</delete>

	<delete id="deleteKsDownboundByIds" parameterType="String">
		delete from ks_downbound where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
</mapper>